/* Navbar.module.css */
:root{
    --primary-color: #ffffff;
}

.navbar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: url('../assets/image7.svg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    
}

.logo {
    height: auto;
    max-height: 50px; 
    width: auto;
    margin-left: 2rem;
    max-width: 100%;
    object-fit: contain; 
}

.navOptions {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navItem {
    margin-left: 20px;
}

.navLink {
    color: var(--primary-color);
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    position: relative;
}

.navLink::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--primary-color);
    transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
}

.navLink:hover::after {
    width: 100%;
    left: 0;
    background: var(--primary-color);
}

/* .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 65px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
} */

.hamburger {
    display: none; 
}

.showMenu {
    display: flex;
   
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    .navOptions {
        display: none;
        width: 100%;
        flex-direction: column;
    }

    .hamburger {
        display: block;
    }

    .logo {
        text-align: center;
        flex: 1;
        margin: 0 auto; 
        max-height: 40px; 
    }

    .navItem {
        margin: 10px 0;
    }
    .navLink {
        padding: 7px 0;
        color: rgb(55, 82, 202);
        

    }

    .navOptions.showMenu {
        display: flex;
    }
}
