.container {
    display: flex;
    flex-direction: row;
}

.sideMenu {
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    width: 250px;
    padding-top: 30px;
    position: fixed;
    top: 20%;
    left: 0;
    height: 50%;
    overflow-x: hidden;
    transition: 0.5s;
}

.sideMenu ul {
    list-style-type: none;
    padding: 0;
}

.sideMenu ul li {
    padding: 20px 16px;
    text-align: center;
}

.sideMenu ul li a {
    text-decoration: none;
    color: white;
    display: block;
    font-weight: bold;
}

.sideMenu ul li a:hover {
    background-color: #575757;
}

.content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
}
.h2 {
    position: absolute;
    top: 20%;
    left: 40%;
    color: rgb(167, 33, 33);
}

.bookingForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    position: absolute;
    top: 25%;
    left: 40%;
}

.bookingForm input,
.bookingForm select,
.bookingForm button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.bookingForm button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.bookingForm button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sideMenu {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sideMenu ul li {
        text-align: left;
    }

    .content {
        margin-left: 0;
    }
}
