/* Styles for the card */
.card {
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    margin: -5rem auto;
    max-width: 500px;
    text-align: center;
    color: #333;
    position: relative;
    top: -25rem; /* Adjust this value as needed */
}

.card img {
    border-radius: 8px;
    margin-bottom: 20px;
}

.card h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.card p {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.button1 {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button2 {
    background-color: #119e4c;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

